body {
    color: #321;
    padding: 3%;
    background-color: #eee;
}
.container {
    max-width: 440px;
    padding: 3%;
    margin: 0 auto;
}
.slider {
    margin: 4px;
}
.slider-row {
    padding: 3px;
    margin: 0px auto;
}
#canvas {
    margin: 12px auto;
}
